<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
<connectionStrings>
  <add name="strConn" connectionString="User=sysdba;Password=masterkey;Database=c:/anprdb/gbuanpr_geoje.fdb;Server=127.0.0.1;Port=3050;"/>
  <add name="aesPassword" connectionString="gbudata_gbugbu"/>
</connectionStrings> 
</configuration>
